body {
    background: #2d2d2d;
}

#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.inputOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center
}

#textInput {
    width: 100%;
    flex: 1;
    background: transparent;
    text-align: center;
    color: white;
    font-size: 3em;
    outline: none;
    border: none;
}